* {
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.primary-btn {
    background-color: #B68C5A;
    color: #ffffff;
    border: 0;
    border-radius: 5;
}

/* Nav Styles */


/* Banner Styles */
.banner-section {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    border-radius: 5px;
    height: auto;
    width: 100%;

}

.banner-all-items {
    height: 100vh;
}

/* .banner-section h1{
    font-size: 72px;
}

.banner-section p{
    font-size: 16px;
} */


/* Practice area style */
.practice-area-section h1 {
    font-weight: 800;
    font-size: 40px;
}

.practice-area-section .card .practice-item-img {
    height: 73px;
    width: 72px;
    margin: 0 auto;
}

.practice-area-section .card-title h1 {
    font-weight: 800;
    font-size: 32px;
    color: #414040;
}

.practice-area-section .card-title p {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
}

.practice-item-arrow {
    width: 40px;
    height: 41px;
    margin: 0 auto;
}